<!-- French Keyboard Layout (AZERTY) -->
<div id="keyboard-cont">
    <div class="first-row">
        <button class="keyboard-button" data-letter="A">a</button>
        <button class="keyboard-button" data-letter="Z">z</button>
        <button class="keyboard-button" data-letter="E">e</button>
        <button class="keyboard-button" data-letter="R">r</button>
        <button class="keyboard-button" data-letter="T">t</button>
        <button class="keyboard-button" data-letter="Y">y</button>
        <button class="keyboard-button" data-letter="U">u</button>
        <button class="keyboard-button" data-letter="I">i</button>
        <button class="keyboard-button" data-letter="O">o</button>
        <button class="keyboard-button" data-letter="P">p</button>
    </div>
    <div class="second-row">
        <button class="keyboard-button" data-letter="Q">q</button>
        <button class="keyboard-button" data-letter="S">s</button>
        <button class="keyboard-button" data-letter="D">d</button>
        <button class="keyboard-button" data-letter="F">f</button>
        <button class="keyboard-button" data-letter="G">g</button>
        <button class="keyboard-button" data-letter="H">h</button>
        <button class="keyboard-button" data-letter="J">j</button>
        <button class="keyboard-button" data-letter="K">k</button>
        <button class="keyboard-button" data-letter="L">l</button>
        <button class="keyboard-button" data-letter="M">m</button>
    </div>
    <div class="third-row">
        <button class="keyboard-button" data-letter="À">à</button>
        <button class="keyboard-button" data-letter="É">é</button>
        <button class="keyboard-button" data-letter="Ê">ê</button>
        <button class="keyboard-button" data-letter="Ë">ë</button>
        <button class="keyboard-button" data-letter="Ÿ">ÿ</button>
        <button class="keyboard-button" data-letter="Ù">ù</button>
        <button class="keyboard-button" data-letter="Û">û</button>
        <button class="keyboard-button" data-letter="Ü">ü</button>
        <button class="keyboard-button" data-letter="Î">î</button>
        <button class="keyboard-button" data-letter="Ï">ï</button>
        <button class="keyboard-button" data-letter="Ô">ô</button>

    </div>
    <div class="fourth-row">
        <button class="keyboard-button" data-letter="Del">Del</button>
        <button class="keyboard-button" data-letter="W">w</button>
        <button class="keyboard-button" data-letter="X">x</button>
        <button class="keyboard-button" data-letter="C">c</button>
        <button class="keyboard-button" data-letter="V">v</button>
        <button class="keyboard-button" data-letter="B">b</button>
        <button class="keyboard-button" data-letter="N">n</button>
        <button class="keyboard-button" data-letter="Enter">Enter</button>
    </div>
</div>
